<% include ./partials/header.ejs %>

    <div class="w-full min-h-screen bg-zinc-800 text-white pt-10">
        <form id="upload-form" hidden action="/profile/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
        </form>
        <div class="profile-details flex flex-col justify-start items-center mt-10">
            <div class="relative">
                <span id="upload-icon"
                    class="w-8 h-8 absolute bottom-2 right-0 bg-zinc-200 rounded-full flex items-center justify-center cursor-pointer">
                    <i class="text-zinc-800 ri-pencil-fill"></i>
                </span>
                <div class="w-32 h-32 bg-zinc-300 mb-3 rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profileImage %>" alt="">
                </div>
            </div>
            <h1 class="text-3xl font-semibold tracking-tight">
                <%= user.name %>
            </h1>
            <h3 class="text-md">@<%= user.username %>
            </h3>
            <div class="flex gap-5 items-center justify-center mt-5">
                <a href="/edit" class="px-5 py-2 bg-zinc-700 rounded-lg text-md font-semibold">Edit</a>
                <a class="bg-red-700 px-5 py-2 rounded-lg text-md font-semibold" href="/add">Add Post</a>
            </div>
        </div>
        <div class="cards flex flex-wrap gap-10 mt-20 px-20">
            <% user.posts.map(post => { %>
                <div class="card">
                    <div class="w-60 h-60 bg-zinc-200 rounded-md overflow-hidden">
                        <img class="w-full h-full object-cover object-top" src="/images/uploads/<%= post.postImg %>" alt="">
                    </div>
                    <h3 class="text-xl font-semibold mt-3"><%= post.title %></h3>
                    <h5 class="text-sm font-medium opacity-60"><%= `${post.description.slice(0, 30)}` %>...</h5>
                </div>
            <% }) %>
        </div>
    </div>

    <script src="/javascripts/script.js"></script>

<% include ./partials/footer.ejs %>