<% include ./partials/header.ejs %>

    <div class="w-full min-h-screen bg-zinc-800 text-white pt-10">
        <form id="upload-form" hidden action="/profile/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
        </form>
        <div class="profile-details flex flex-col justify-start items-center mt-10">
            <div class="relative">
                <span id="upload-icon"
                    class="w-8 h-8 absolute bottom-2 right-0 bg-zinc-200 rounded-full flex items-center justify-center cursor-pointer">
                    <i class="text-zinc-800 ri-pencil-fill"></i>
                </span>
                <div class="w-32 h-32 bg-zinc-300 mb-3 rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profileImage %>" alt="">
                </div>
            </div>
            <h1 class="text-3xl font-semibold tracking-tight">
                <%= user.name %>
            </h1>
            <h3 class="text-md">@<%= user.username %>
            </h3>
            <div class="flex gap-5 items-center justify-center mt-5">
                <a href="/edit" class="px-5 py-2 bg-zinc-700 rounded-lg text-md font-semibold">Edit</a>
                <a class="bg-red-700 px-5 py-2 rounded-lg text-md font-semibold" href="/add">Add Post</a>
            </div>
        </div>
        <div class="cards flex flex-wrap gap-10 mt-20 px-20">
            <% if (user.posts.length> 0) { %>
                <div class="card w-72 p-4 bg-zinc-700 rounded-lg flex flex-col justify-center mb-10">
                    <div class="w-full h-72 bg-zinc-200 rounded-md overflow-hidden rounded-lg">
                        <img class="w-full h-full object-cover" src="/images/uploads/<%= user.posts[0]?.postImg %>" alt="">
                    </div>
                    <a class="inline-block text-xl font-semibold mt-3 cursor-pointer" href="/show/posts">Your Uploaded Pins</a>
                    <h5 class="text-sm font-medium opacity-60">
                        <%= user.posts.length %> Pins
                    </h5>
                </div>
            <% } else { %>
                <h3 class="text-zinc-600 tracking-tight font-semibold text-2xl">No Posts yet...</h3>
            <% } %>
        </div>
    </div>

    <script src="/javascripts/script.js"></script>

    <% include ./partials/footer.ejs %>